.block {
  width: 32px;
  height: 32px;
  opacity: 0.4;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.block:hover {
  opacity: 1;
}

.block:active {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .block {
    width: 48px;
    height: 48px;
    flex: 0 0 auto;
    margin-right: 3px;
  }
}
