.title {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &_text {
    font-size: 36px;
    line-height: 42px;
  }

  &_blocks {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 0;

    &_text {
      display: none;
    }

    &_blocks {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
